<section id="login" class="p-3 signup-page footer-space">
  <div class="container-fluid signup-form col-md-4 p-3 max-w">
    <h2>Log In</h2>
    <form action="/login" method="POST">

      <div class="mb-3">
        <label for="input-username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="input-username">
       </div>

      <div class="mb-4">
        <label for="input-password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="input-password" placeholder="*********">
      </div>

      {{#if errorMessage}}
        <p class="error mb-3">{{errorMessage}}</p>
      {{/if}}

      <div class="btn-container">
        <button type="submit" class="btn btn-light w-25">Login</button>
      </div>
      
 

    </form>
  </div>
</section>





