<div id="error" class="p-3"> 
    <h1>
        Oh no, there was an error! 
    </h1>
    <div>
        <iframe src="https://giphy.com/embed/y65VoOlimZaus" width="100%" height="100%" frameBorder="0" class=" p-0"></iframe>
    </div>
    <p>
        <a href="https://giphy.com/gifs/idk-shrug-power-rangers-y65VoOlimZaus"></a>
    </p>
</div>

