<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plant Nerd - An Ironhack Project</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
  <!-- {{#if user is loggedIn - userLoggedIn ans template mit als property }} -->
  <!-- {{#else}} -->
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>