<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plant Nerd - An Ironhack Project</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>