<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plant Nerd - An Ironhack Project</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
          {{#if isLoggedIn}}
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
            <a href="/plants/create">Create a Plant</a>
          </form>
          {{else}}
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
          {{/if}}
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>