<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant Nerd - An Ironhack Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">   

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>


  <body>

    

    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid d-flex nav">

        <a class="navbar-brand p-2" href="/">
          <img src="/styles/images/logo2.png" alt="Plant Nerd Icon" width="30" height="24" class="d-inline-block align-text-top">
          PlantNerd
        </a>

        {{#if isLoggedIn}}
        {{#if friendSearch}}
          <form method="POST" action="/friendSearch" class="d-flex m-0">
            <input class="form-control me-2 w-200" type="search" placeholder="Search friends" aria-label="Search" name="searchFriend">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        {{else}}
          <form method="POST" action="/plantSearch" class="d-flex m-0">
            <input class="form-control me-2 w-200" type="search" placeholder="Search plants" aria-label="Search" name="searchPlant">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
        {{/if}}
        <div class="loggedin-links">
          <a href="/explore" class="me-3">Explore</a>
          <a href="/plants/create" class="me-3">Create a Plant</a>
          <a href="/findFriends" class="me-3">Find Friends</a>
          <a href="/user/my-posts" class="me-3">Your Posts</a>
          <a href="/profile" class="me-3">Profile</a>
          <form class="m-0" action="/logout" method="POST">
            <button class="btn btn-logout">Logout</button>
          </form>
        </div>
        
        {{else}}
          <div>
            <a href="/login" class="p-2 ms-2">Login</a>
            <a href="/signup" class="p-2">Sign Up</a>
          </div>
          
        {{/if}}

      </div>
    </nav>

    {{{body}}}

    {{!-- <footer class="bottom">
      <a href="/" class="p-2 btn btn-contact">Contact</a>
      <p class="p-2 m-0">2021 - Franziska Pendzialek & Julia Häußler</p>
    </footer> --}}
  </body>
</html>