<section id="main">

  <div class="container-fluid main-text m-2 p-3">
    <h2>/LOGO/</h2>
    <h3>Travel to your favorite plants!</h3>
    <p>PlantNerd helps you finding your favorite plants. Literally.</p>
    <a href="/signup" class="signup-btn p-4 m-8">SIGN UP NOW</a>
  </div>

</section>


