<div id="error" class="p-3 footer-space"> 
    <h1>
        Sorry, we can't find the page you are looking for!
    </h1>
    <div>
        <iframe src="https://giphy.com/embed/8UHgS8Badt2KA2TTr0" width="100%" height="100%" frameBorder="0" class=" p-0"></iframe>
    </div>
    <p>
        <a href="https://giphy.com/gifs/natgeowild-nat-geo-wild-meerkat-lookout-8UHgS8Badt2KA2TTr0"></a>
    </p>
</div>

