<section id="deleteProfile" class="p-4">
    <div class="delete-profile p-5">
        <h2>So this is goodbye?</h2>
        <form class="m-0" method="POST" action='/deleteProfile/{{ userInSession._id }}/delete' >
            <button type="submit" class="btn btn-dark m-4">Delete profile forever</button>
        </form>
    </div>

</section>