<h2>Edit your profile information</h2>



<form action="/editProfile/{{userInSession._id}}" method="post" enctype="multipart/form-data">
    Your favourite plant: <input type="text" class="form-control mt-2" name="favPlant" id="input-favPlant" value="{{ userInSession.favPlant }}" /><br>
    Your first name: <input type="text" class="form-control mt-2" name="firstName" id="input-firstName" value="{{userInSession.firstName}}" /><br>
    Your birthday: <input type="date" class="form-control mt-2" name="birthday" id="input-birthday" /><br>
    Your description: <input class="form-control mt-2" name="description" id="input-description" value="{{ userInSession.description }}" />
    Your best selfie: <input class="form-control" type="file" name="profilePic" >
    <div class="btn-container">
        <button type="submit" class="btn btn-light w-25">Submit</button>
    </div>
</form>

    


  