<section id="friends" class="footer-space">
  <h2>Find friends!</h2>

  <div class="container-div container-fluid m-2 w-auto row main-2">
    {{#each users}}
    <div class="friend-card p-2 m-2 col-sm-3 col-6" style="width: 20rem;">
      <img src={{profilePic}} class="card-img-top mb-2" alt="Profile Photo">
      
      <h5 class="card-title px-3">{{username}}</h5>
      <form action="/addFriend/{{_id}}" method="POST">
        <button type="submit" class="btn btn-dark">Add as friend</button>
      </form>
    </div>
    {{/each}}

  </div>
</section>
