<div id="error" class="p-3"> 
    <h1>
        All changes have been saved. Please log in again. 
    </h1>
    <div>
        <iframe src="https://giphy.com/embed/OkWJ4nTg14vwDyfOC1" width="100%" height="100%" frameBorder="0" class=" p-0"></iframe>
    </div>
    <p>
        <a href="https://giphy.com/gifs/Griffics-lockdown-refresh-brain-OkWJ4nTg14vwDyfOC1"></a>
    </p>
</div>

