/* grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */

/* colors:
Purple bright
#9D98C1

Purple
#57509A

Purple dark
#3C405C

Green light
#A3B4B3

Green
#4C7884

Green dark 
#324628

Beige
#D7D2CA */

/* .purple-light {
    background-color: #9D98C1;
}
.purple {
    background-color: #57509A;
}
.purple-dark {
    background-color: #3C405C;
}
.green-light{
    background-color: #A3B4B3;
}
.green{
    background-color: #4C7884;
}
.green-dark{
    background-color: #324628;
} */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #4C7884;

}

.error {
    background-color: #A3B4B3;
    color: #324628;
    border: 1px solid #4C7884;
    text-align: center;
}

/* ERROR + NOT FOUND */

#error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #3C405C;
}

/* LANDING PAGE */

nav {
    background-color: #9D98C1;
}

nav a {
    color: #3C405C;
    text-decoration: none;
}

nav a:hover {
    color: #D7D2CA
}

.nav {
    display: flex;
    align-items: center;
}

.loggedin-links {
    display: flex;
    align-items: center;
}

footer {
    background-color: #9D98C1;
    display: flex;
    align-items: center;
    color: #3C405C;
    font-size: smaller;
}

footer a {
    font-size: smaller;
}

#main {
    display: flex;
    flex-direction: column;
}

.main-1 {
    background-color: #3C405C;
    color: #D7D2CA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-2 {
    background-color: #3C405C;
    color: #D7D2CA;
}

.card-img-logo {
    width:190px;
    height:190px;
    object-fit:cover;
    border: 5px solid #9D98C1;
    border-radius: 15%;
}


/* BUTTONS */

.btn-dark {
    background-color: #4C7884;
    border-color: #4C7884;
    color: #D7D2CA;
    text-decoration: none;
    border-radius: 70%;
    display: inline-block;
}

.btn-dark:hover {
    background-color: #9D98C1;
    border-color: #9D98C1;
    color: #3C405C;
}

.btn-light {
    background-color: #A3B4B3;
    color: #324628;
    text-decoration: none;
    border-radius: 70%;
    display: inline-block;
    border-color: #A3B4B3;
}

.btn-light:hover {
    background-color: #324628;
    color: #A3B4B3;
}

.btn-logout {
    background-color: #3C405C;
    color: #D7D2CA;
}

.btn-logout:hover {
    background-color: #4C7884;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-contact {
    color: #3C405C;
}


/* SIGN UP AND LOG IN PAGE  */

.signup-form {
    background-color: #3C405C;
    color: #9D98C1;
}

.subtext {
    color: #D7D2CA;
}

.sub-head {
    text-align: center;
}

.login-page {
    background-color: #3C405C;
    color: #9D98C1;
    display: flex;
    flex-direction: column;
}

/* PROFILE PAGE */

#profile {
    display: flex;
    flex-direction: row;
}

.profile-action-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card-icon {
    width: 40px;
}

.overview-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.overview {
    border: 1px solid black;
}

.profile-head {
    background-color: #3C405C;
    color: #9D98C1;
    font-size: 1rem;
}

/* DELETE PROFILE PAGE */

#deleteProfile {
    display: flex;
    justify-content: center;
    color: #9D98C1;
}

.delete-profile {
    background-color: #3C405C;
    border: 4px solid #9D98C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* PLANTS */

.plants-div {
    display: flex;
    justify-content: space-evenly;
}

.plant-card {
    background-color: #A3B4B3;
    color: #3C405C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.card-title {
    background: #9D98C1;
    color: #3C405C;
    border-radius: 5%;
}

.card-author {
    color: #4C7884;
}

.card-img-top {
    width:300px;
    height:300px;
    object-fit:cover;
}

.user > img {
    width: 200px;
}

.plant-post > img {
    width: 200px;
}

#plant-details {
    display: flex;
}

.create-comment{
    border: 5px solid #9D98C1;
    color: #3C405C;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comment-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comments {
    border: 5px solid #9D98C1;
    background-color: #A3B4B3;
}

.comment-title {
    background-color: #3C405C;
    color: #9D98C1;
}

.comment-text {
    color: #3C405C;
}

.comment-author {
    font-size: smaller;
    color: #324628;
}

/* FIND FRIENDS */

#friends > h2 {
    background-color: #3C405C;
    color: #9D98C1;
    text-align: center;
}

.friends-div {
    display: flex;
}

.friend-card {
    background-color: #A3B4B3;
    color: #3C405C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}