<section id="create-post" class="p-3 signup-page">
  <div class="container-fluid signup-form max-w col-md-4 p-3">
    <h2>Found an awesome plant? Share it with others!</h2>
    <form action="/plants/create" method="POST" enctype="multipart/form-data">

      <div class="mb-3">
        <label class="form-label">Name of the plant:</label>
        <input type="text" class="form-control" name="name" />
      </div>

      <div class="mb-3">
        <label class="form-label">Where did you find it?</label>
        <input type="text" class="form-control" name="location" />
      </div>

      <div class="mb-3">
        <label class="form-label">On what date did you find it?</label>
        <input type="date" class="form-control mt-2" name="foundOnDate" />
      </div>


      <div class="mb-3">
        <label class="form-label">What season in your hemisphere?</label>
        <input type="text" class="form-control mt-2" name="season" />
      </div>


      <div class="mb-3">
        <label class="form-label">Describe your find:</label>
        <input type="text" class="form-control mt-2" name="description" />
      </div>

      <div class="mb-4">
        <label class="form-label">Share a photo of the plant:</label>
        <input class="form-control" type="file" name="plantImg">
      </div>

      <div class="btn-container">
        <button type="submit" class="btn btn-light w-25">Submit</button>
      </div>
    
      {{#if errorMessage}}
        <p class="error my-5">{{errorMessage}}</p>
      {{/if}}

    </form>
  </div>
</section>