<div class="user-search-results">
    
  {{#each searchedUser}}
    <div class="user-card">
        <img src="{{profilePic}}" width="80px">
        <h3> {{username}}</h3>
        <a href="/">Show Profile</a>
        <form>
            Add as Contact
        </form>
    </div>
  {{/each}}

</div>