<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Your username" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <h2>Tell us something about you - don't worry, you can still change it later.</h2>

    <label for="input-favPlant">What's your favourite plant?</label>
    <input type="text" name="favPlant" id="input-favPlant" placeholder="Lavender" />

    <label for="input-firstName">How should we call you?</label>
    <input type="text" name="firstName" id="input-firstName" placeholder="Gabi" />

    <label for="input-birthday">When is your birthday?</label>
    <input type="date" name="birthday" id="input-birthday" placeholder="" />

    <label for="input-description">What else do we need to know?</label>
    <input type="text" name="description" id="input-description" placeholder="Travelling and plants are my life - so original. What's next? Coffee addict?" />


    <button type="submit">Create account</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
