<form action="/plants/create" method="post" enctype="multipart/form-data">
<label name="name">Name:</label>
<input type="text" name="name">
<label name="description">Description:</label>
<input type="text" name="description">
<label name="plantImg">Upload your plant picture:</label>
<input type="file" name="plantImg" />
<label name="location">Location</label>
<input type="text" name="location">
<label name="date">Found on Date:</label>
<input type="date" name="date">
<label name="season">Season</label>
<input type="text" name="season">
<button type="submit">Create Plant</button>
</form>